[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/gokarna-theme/gokarna-hugo.git
[submodule "gohugo-theme-ananke"]
	path = gohugo-theme-ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/Ananke"]
	path = themes/Ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
