<header class="site-header">
    <div class="wrap header-inner">

        <!-- Title and logo -->
        <div class="site-title">
            <a href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
            <img src="{{ "images/catpog.webp" | relURL }}" 
                 alt="Cat" 
                 style="width: 120px;">
        </div>

        <!-- Navigation -->
        <nav class="main-nav">
            <ul>
                {{ $current := .RelPermalink }}
                {{ range .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL | relURL }}"
                           {{ if eq .URL $current }}class="active"{{ end }}>
                            {{ .Name }}
                        </a>
                    </li>
                {{ end }}
            </ul>
        </nav>

    </div>
</header>
